.Embaixadora .headerMenu {
  background: #823DC3;
}
.CharleneMoraes .landingEmbaixadora {
  height: 100vh;
}
.landingEmbaixadora {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textoEventosEmbaixadora {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}
