.planosDeAssinatura {
  background: #F5F5F5;
  width: 100vw;
  max-width: 100%;
}

.planosDeAssinatura .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.planosDeAssinatura .container h2 {
  padding-bottom: 50px;
}

.planosDeAssinatura .container .itensPlano {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .planosDeAssinatura .container .itensPlano {
    flex-direction: column;
  }
  .planosDeAssinatura .container .itensPlano .itemPlanos {
    margin-bottom: 20px;
  }
}