.botaoSecundario {
  background: transparent;
  color: #823DC3;
  font-weight: bold;
  padding: 8px 30px;
  border: 2px solid #823DC3;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.botaoSecundario:hover {
  background: #823DC3;
  color: white;
  cursor: pointer;
}