#daiane {
  grid-area: daiane;
}
#paula {
  grid-area: paula;
}
.fundadorasTitulo {
  grid-area: titulo;
  margin-bottom: 30px;
}
.resultadosFundadoras {
  grid-area: resultados;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.resultadosFundadoras h5 {
  color: #823DC3;
  font-size: 35px;
  margin: 0;
}
.resultadosFundadoras ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-left: 0!important;
}
.resultadosFundadoras ul li {
  color: white;
  background-color: #823DC3;
  border: 1px solid #823DC3;
  border-radius: 5px;
  padding: 0 10px;
  font-weight: bold;
  margin: 5px 0;
  font-size: 20px;
}
.secaoTime {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
  grid-template-areas:
    "titulo titulo" 
    "daiane paula"
    "resultados resultados"
  ;
}
.lista-equipe {
  text-align: left;
  font-size: 15px;
}
.lista-equipe li {
  padding: 5px 0;
}
.lista-equipe > .sem-list {
  list-style: none;
  font-style: italic;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .secaoTime {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    grid-template-areas: 
    "titulo"
    "daiane"
    "paula"
    "resultados"
  }
}