.secaoTime {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
}
.lista-equipe {
  text-align: left;
  font-size: 15px;
}
.lista-equipe li {
  padding: 5px 0;
}
.lista-equipe > .sem-list {
  list-style: none;
  font-style: italic;
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .secaoTime {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
  }
}