@import '../Embaixadoras/Embaixadoras.css';

.areaEmbaixadoras {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  grid-gap: 10px;
}
.areaEmbaixadoras .embaixadora .textoEmbaixadoras {
  display: none;
}
.areaEmbaixadoras .embaixadora {
  display: block;
  height: auto!important;
}
.areaEmbaixadoras .embaixadora .imagemEmbaixadoras {
  width: auto!important;
  max-width: 100%;
  height: auto!important;
  margin-right: none!important;
}
.areaEmbaixadoras .embaixadora hr {
  display: none!important;
}
.botoesHomeColunas {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  grid-gap: 10px;
  align-items: center;
}
.botoesHomeColunas#botoesEmbaixadoras a {
  width: 100%;
}
.impactosWorkshop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
}
.homeWorkshops{
  background-color: #823DC3;
  color: white;
}
.tiposWorkshop {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}
.tiposWorkshop p {
  font-weight: 700;
  color: white;
}
.depoimentosClientes {
  background: #f2f2f2;
  padding-top: 20px;
}
.depoimentosClientes .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
@media screen and (max-width: 700px)
 {
  .botoesEmbaixadoras {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    align-items: center;
  }
  .areaEmbaixadoras {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
  }
 }

 .parceirosClube .parceiros {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   justify-content: center;
   align-items: center;
   grid-gap: 20px;
 }
 @media screen and (max-width: 700px) {
  .gridMentorias {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
  }
  .Home .areaPopup {
    height: auto!important;
  }
  .itemMentoria h4 {
    font-size: 26px;
    text-align: center;
  }
  .itemMentoria p {
    font-size: 14px;
  }
  .Home .areaPopup .tituloPopup {
    padding-top: 0;
  }
}
@media screen and (max-width: 700px) {
  .paginaEmbaixadoras {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    width: 100%;
    margin-bottom: 15px;
  }
  .Home .conteudoPopup {
    height: 50vh;
  }
  .Home .carousel {
    height: 35vh;
  }
}
@media screen and (max-width: 570px) {
  .Home .conteudoPopup {
    height: 50vh;
  }
  .Home .carousel {
    height: 40vh;
  }
}