.donatempo p {
  margin: 15px 0;
  text-align: justify;
}
.formasAssinatura {
  margin-bottom: 20px;
}
.botaoAssinatura {
  background: #823DC3;
  color: white;
  font-weight: bold;
  padding: 8px 30px;
  border: 1px solid #823DC3;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}
.botaoAssinatura:hover {
  background: #54198B;
  cursor: pointer;
  border-color: #54198B;
}
.formasAssinatura p{
  margin: 0;
  font-size: 14px;
  padding: 0;
  line-height: 1em;
  color: #363636
} 
.areaBotoesPlano {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .donatempo .imagemSecaoTextoImagemEsquerda {
    margin-top: 20px;
  }
  .donatempo .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
  }
  .areaBotoesPlano {
    grid-template-columns: 1fr;
    grid-gap: 10px; 
  }
}